.icone {
	width: 200px;
	height: 200px;
	font-weight: bold;
}

.background-white {cursor: zoom-in;
	background-color: white;
	padding-bottom: 10px;

}

.background-white h2 {cursor: zoom-in;
	color: black;
	padding-top: 50px;
	font-family: 'avenir', sans-serif;
	background-color: white;
}

.background-blue {cursor: zoom-in;
	background-color: #88C0ED;
	padding-top: 50px;
	font-family: 'avenir', sans-serif;
}



.list {
	list-style: none;
	padding-bottom: 20px;

}

.list li {
	padding: 7px;
	display: inline;
}

.icone-black {
color: #b2e0f9;
width: 150px;
font-size: 70px; 
padding-top: 50px; 
padding-bottom: 50px; 
text-align: center;
}